@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-level-0: #f8f5e9;
  --color-primary: #9dc08b;
  --color-secondary: #3a7d44;
  --color-accent: #df6d14;
}

body {
  @apply bg-level-0;
}

.embla {
  width: 100px;
  margin: auto;
  --slide-height: 5rem;
  --slide-size: 5rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  gap: 0.5rem;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-md);
}
.embla__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
